attrs==21.2.0
boto3==1.18.44
botocore==1.21.44
hfst-optimized-lookup==0.0.13
importlib-metadata==4.8.1
iniconfig==1.1.1
jmespath==0.10.0
packaging==21.0
pluggy==1.0.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-mock==3.6.1
python-dateutil==2.8.2
s3transfer==0.5.0
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.6
zipp==3.5.0
